<div id="panel-11" class="panel">
    <div class="panel-container show" >
        <div class="panel-content">
            <tabset>
                <tab heading="PO Head" >
                  <smart-poheads></smart-poheads>
                </tab>
                <tab heading="PO Sub" >
                   <smart-posubs></smart-posubs>
                </tab>
                <tab heading="PO Detail">
                    <smart-podetails></smart-podetails>
                    </tab>
                
            </tabset>
        </div>
    </div>
</div>