<smart-panel >
    <h2 panelTitle><i class="fal fa-list"></i>&nbsp;Article Size</h2>
    
    <div panelContent>
        <smart-table 
        [items]="articlesize" 
        [columns]="columns2" 
        [selectable] = "false" 
        [createNext]="true" 
        createNextToolTip = "Add"
        (createNextEvt)="onCreate($event)"
        >
        </smart-table>
    </div>
</smart-panel> 
<smart-panel >
    <h2 panelTitle><i class="fal fa-list"></i>&nbsp;Article Size Rates</h2>
   
    
    <div panelContent>
        <smart-table 
        [items]="articlerate" 
        [columns]="columns" 
        [selectable] = "false" 
        [editable]="true" 
        [deletable]="true" 
        (editEvt)="onEdit($event)"
        (deleteEvt)="ondelete($event)"
        >
        </smart-table>
    </div>

  
   
 
</smart-panel> 