<div id="panel-11" class="panel">
  
    <div class="panel-container show" >
        <div class="panel-content">
            <tabset>
                <tab heading="Models" >
                    <smart-models></smart-models>
                </tab>
                <tab heading="Article" >
                    <smart-articles></smart-articles>
                </tab>
                <tab heading="Article Size">
                    <smart-articlesizes></smart-articlesizes>
                </tab>
                <tab heading="Production Lines">
                    <smart-productionlines></smart-productionlines>
                </tab>
                <tab heading="Materials">
                    <smart-articlematerials></smart-articlematerials>
                </tab>
                <!-- <tab heading="Material Descriptions">
                    <smart-articlematerialsubs></smart-articlematerialsubs>
                </tab> -->
            </tabset>
          
        </div>
    </div>
</div>
