<div id="panel-11" class="panel">
  
    <div class="panel-container show" >
        <div class="panel-content">
            <tabset>
                <tab heading="Categories Types" >
                    <smart-categorytypes></smart-categorytypes>
                </tab>
                <tab heading="Categories" >
                    <smart-categories></smart-categories>
                </tab>
                <tab heading="Sub Categories">
                    <smart-subcategories></smart-subcategories>
                </tab>
                <tab heading="Materials">
                <smart-materials></smart-materials>
                </tab>
            </tabset>
          
        </div>
    </div>
</div>